<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.lingxuanyu.mapper.UserMapper">
    <!-- public User getAllUser();-->
    <select id="getAllUser" resultType="com.lingxuanyu.entity.User">
        select * from ssm where id =1
    </select>
</mapper>